doctype html
html
    head
        link(rel="stylesheet", type="text/css", href="index.css")
    body
        ul
            each cc, key in colors
                li(style="background-color: #{key}", data-color="#{JSON.stringify(cc)}")
                    span #{cc.instances.length}
