doctype html
html
    head
        link(rel="stylesheet", type="text/css", href="index.css")
    body
        div#template
            div.color-info
                div.color #XXX
                div.instances
        div#instance-template
            div.instance
                div.file
                    span.file__name filename
                    span.file__separator :
                    span.file__line-number 333
                div.rule
                    div.selectors
                    div.rule__rule
                        span.property color
                        span.rule__separator :
                        span.value #333
        div#selector-template
            div.rule__selector .class

        div.content
            input#fifty-shades(type="checkbox")
            label.fifty-shades-label(for="fifty-shades")

            div.color-list-wrapper
                ul.color-list
                    each cc, key in colors
                        li.color-list-item(style="background-color: #{key}", data-color="#{JSON.stringify(cc)}", data-color-array="#{JSON.stringify(cc.colorArray)}")
                            span.color-list-item__number #{cc.instances.length}
            div.color-info-wrapper

        script(src="info.js")
