html {
    font-family: sans-serif;
    line-height: 130%;
}

html,
body,
.content {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
}

.color-list-wrapper {
    height: 100%;
    overflow-y: scroll;

    margin: 0;
    padding: 0;
}
.color-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 4px 8px 4px 4px;
    padding: 0;

    box-shadow: 0 0 0 1px #aaa;
}

.color-list-item {
    display: block;
    width: 100px;
    height: 100px;
    margin: 4px;
}

.color-list-item__number {
    background-color: #fff;
}

#template,
#instance-template,
#selector-template {
    display: none;
}

.color-info-wrapper {
    height: 100%;
    overflow-y: scroll;
    flex: 0 0 300px;
    padding: 4px;
    box-sizing: border-box;
}
.color-info {
    box-shadow: 0 0 0 1px #aaa;
    padding: 8px;
}

.color {
    font-size: 20px;
    padding-bottom: 6px;
}

.instance {
    box-shadow: 0 0 0 1px #ddd;
    padding: 6px;
}
.instance + .instance {
    margin-top: 6px;
}

.file,
.selectors {
    margin-bottom: 6px;
}

.file__name,
.property {
    color: #2424F0;
}

.file__line-number {
    color: #999;
}

.file__separator,
.rule__separator {
    color: #4395f0;
    padding-right: 6px;
}

.rule__selector,
.value {
    color: #008080;
}

.hidden {
    display: none;
}

#show-all-colors {
    display: none;
}
.show-all-colors-label {
    flex: 0 0 15px;
    cursor: pointer;
}
#show-all-colors + .show-all-colors-label {
    background: #ccc;
}
#show-all-colors:checked + .show-all-colors-label {
    background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
}

.top-right {
    position: absolute;
    top: 2px;
    right: 2px;
}

.top-right.screw {
    background: url('screw.svg') 0 0/16px no-repeat;
    width: 16px;
    height: 16px;
}

/* --------- ARGV page -------------*/
.content_argv {
    flex-direction: column;
    font-size: 18px;
}

.input {
    width: 100%;
    padding: 1px 3px;
    font-size: 18px;
}
.cwd {
    margin:6px 18px 18px;
}

.ignore {
    margin: 6px 18px 18px;
}

.update-argv {
    display: inline-block;
    padding: 4px;
}

.error {
    color: red;
}

.success {
    color: green;
}
